* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Josefin Sans", sans-serif;
}

input, body {
 font-size: 1.8rem;
}
:root {
 font-size: 62.5%;


 /*Others*/
 --Bright-Blue: hsl(220, 98%, 61%);

 /*Dark-Theme*/
 --Very-Dark-Blue: hsl(235, 21%, 11%);
--Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
--Light-Grayish-Blue: hsl(234, 39%, 85%);
--Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
--Dark-Grayish-Blue-Dark: hsl(234, 11%, 52%);
--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
--Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
--Dark-Hover: hsl(280, 87%, 65%);
/*Light-Theme*/
--Very-Light-Gray: hsl(0, 0%, 98%);
--Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
--Light-Grayish-Blue: hsl(233, 11%, 84%);
--Dark-Grayish-Blue: hsl(236, 9%, 61%);
--Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
--Light-Hover: hsl(192, 100%, 67%);
}







/*Dark-Mode*/
.bg-desktop-dark {
 width: 100%;
 position: absolute;
 top: 0;
 z-index: -9999;

 animation-name: bg-desktop;
 animation-duration: 2s;
}

html.dark {
 background-color: var(--Very-Dark-Blue);
}
html:not(.dark) .bg-desktop-dark,
html:not(.dark) .btnSun{
 display: none;
}








/*Light-Mode*/
.bg-desktop-light {
 width: 100%;
 position: absolute;
 top: 0rem;
 z-index: -9999;  
 
 
 animation-name: bg-desktop;
 animation-duration: 2s;
}

html:not(.dark){
background-color: var(--Very-Light-Grayish-Blue);
}
html.dark .bg-desktop-light,
html.dark .btnMoon{
 display: none;
}



html.dark .input {
    background-color: var(--Very-Dark-Desaturated-Blue);
   }
   html:not(.dark) .input{
    background-color: var(--Very-Light-Gray);
   }
   html:not(.dark) #todoInput {
    color: var(--Very-Dark-Grayish-Blue);
   }





/*Header*/
header {
 display: flex;
 align-items: center;
 flex-direction: column;

 width: 51rem;
 margin: auto;
 margin-top: 7.3rem;

 animation-name: header;
 animation-duration: 2.01s;
}


.partOne {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
}

h1 {
 font-size: 4rem;
 font-weight: 700;
 letter-spacing: 1.2rem;
 color: var(--Very-Light-Gray);
}

.btnMoon:hover, .btnSun:hover {
 cursor: pointer;
}







/*input*/
.input {
 display: flex;
 width: 51rem;
 margin: auto;
 margin-top: 3.8rem;

 padding: 1.6rem 2rem;
 border-radius: .5rem;
}

#todoInput {
 background: none;
 border: none;
 outline: none;
 caret-color: var(--Bright-Blue);
 color: var(--Light-Grayish-Blue);
 width: 43rem;
}
#todoInput::placeholder {
 color: var(--Dark-Grayish-Blue);
}
#todoInput:focus::placeholder{
 opacity: 0;
}



.wrapper {
 display: flex;
 align-items: center;
 gap: 2rem;
}

.circle-input {
 border: 1px solid var(--Very-Dark-Grayish-Blue);
 border-radius: 50%;
 height: 2.5rem;
 width: 2.5rem;
 opacity: .4;
}




/*main*/
main {
width: 51rem;
border-radius: .5rem;


margin: auto;
margin-top: 2.5rem;

overflow: hidden;
background-color: var(--Very-Light-Gray);
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.footer {
 display: flex;
 align-items: center;
 justify-content: space-between;

 height: 4rem;
 padding: 2.3rem;

 color: var(--Dark-Grayish-Blue);
 font-size: 1.2rem;
}

#ClearCompleted:hover {
 color: var(--Very-Dark-Grayish-Blue);
 cursor: pointer;
 transition: .3s ease-in-out;
}

.TODOS {
 display: flex;
 flex-direction: column;
 gap: 0;
}

#TODO {
 display: flex;
 align-items: center;

 padding: 1.5rem 2rem;
 gap: 2rem;
 border-bottom: 1px solid var(--Light-Grayish-Blue);
}

.TODOandDelete {
 display: flex;
 align-items: center;
 justify-content: space-between;

 width: 100%;
}

.circle {
 border: 1px solid var(--Very-Dark-Grayish-Blue);
 border-radius: 50%;
 height: 2.5rem;
 width: 2.7rem;
 opacity: .4;
}

#MyTodo {
 color: var(--Very-Dark-Grayish-Blue);
}


/*animations*/

@keyframes bg-desktop {
 0% {top: -29rem}
 100% {top: -0}
}
@keyframes header {
0% { margin-top: -15rem}
100% { margin-top: 7.3rem;}
}


html.dark #MyTodo {
    color: var(--Light-Grayish-Blue)
}
html.dark #ClearCompleted:hover {
 color: var(--Light-Grayish-Blue);
}
html.dark main {
 background-color: var(--Very-Dark-Desaturated-Blue);
}
html.dark #TODO {
 border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
}